<div class="cover-container d-flex h-100 p-3 mx-auto flex-column justify-content-center align-items-center">
    <h1 class="cover-heading">Email confirmed successfully</h1>

    <p class="lead">Click below to return to log in!</p>

    <p class="lead"><a href="http://localhost:5173/login" class="btn btn-lg btn-secondary">Go to Log In</a></p>
</div>